#div-function{
	padding:0 0 0 15px;
}
#color-selection{
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	border-style: none;
	background: rgba(255, 255, 255, 0.0);
	align: center;
}
#size-selection{
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	border-style: none;
	background: rgba(255, 255, 255, 0.0);
	align: center;
}
.color-button{
	margin: 2px auto;
}
